<!-- Platform Logo -->
<div class="platform-logo">
  <%= image_tag('watson-blue.png', size: "100x100") %>
  <div class="logo-name-container">
    <p>LogicConnect</p>
    <span class="logo-tagline">Health Analytics</span>
  </div>
</div>