<div id="accordion">
  <% @side_panel_list.each do |name| %>
    <h3><%= name %></h3>
    <%= form_tag("/create", method: "post") do %>
      <%= text_field_tag(:code_list_name) %>
    <% end %>
  <% end %>
</div>
